<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To JBA Shipping</title>
</head>
<body style="background-color: blue">
 <h3 style="text-align:center"> Welcome New user to the JBA Shipping Family</h3>
 <h1 style="vertical-align:middle; border: double; text-align: center;"> Offical GCE Update </h1>
 <p th:text="'Hello:' + ${name} + '!'" />
<textarea id='w3mission' rows='4' cols='50' style="display: block; margin-left: auto; margin-right: auto">
Welcome New user to the Once in a lifetime offer to join my Product shipping demo website. It bares repeating that
this site is 100% fake and exists only as a proof of concept of what a real working website might entail. along with
 all the features and frills of a real websight. such as password tokens, Email services, a large database, Save data, and a
 funtioning GUI. the only thing i don't have is a web desine team. feel free to play around with this site and explore its manny
 features.
</textarea>

<p>This is a test email sent to you by automation because we can do that now.<p>
</body>
</html>